################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################



/.vs
/TaskTrackerApp/.vs
/TaskTrackerApp/bin/Debug/net5.0
/TaskTrackerApp/obj
