################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################



/.vs
/TaskTracker/.vs
/TaskTracker/bin/Debug/net5.0
/TaskTracker/obj
