<div class="sidebar" data-color="primary" data-background-color="white">
    <a href="~/"><img id="app-logo" class="pull-center" src="" /></a>
    <div class="logo">
        <a href="~/" class="simple-text logo-normal">
            Task Tracker
        </a>
    </div>

    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-controller="Home">
                    <i class="fas fa-home"></i>
                    <p>Home</p>
                </a>
            </li>
        </ul>
    </div>

</div>