@{
    Layout = "../Shared/_Layout";
    ViewData["Title"] = "";
}
<div class="card">
    <form asp-action="AddTeacher" asp-controller="Home" method="post">
        <p>This is going to navigate the user to a new window. Not a popup</p>
    </form>
</div>