@model IEnumerable<Teacher>

@{
    Layout = "../Shared/_Layout";
    ViewData["Title"] = "Section One";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <a class="btn btn-info btn-round btn-sm float-right" style="color:white;" onclick="openModalOne()"><i class="fas fa-plus mr-1"></i>Modal</a>
            <h4 class="card-title mt-0">
                Show A Modal In Action
            </h4>
        </div>
         <div class="card-body">
             <div>

            </div>
        </div>
    </div>

</div>
@section scripts {
    <script src="~/js/template.js"></script>
    <script>
        [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) { new MvcGrid(element); });
    </script>
}
