<div class="modal fade" id="modalPopup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="card-header card-header-primary text-center">
                        <h4 class="mb-0 modal-title"></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="modalPopupCloseButton">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Modal body text goes here.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>